<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br># Python Data Structures ‚Äì Hands-on Practice<br></h3>

In [ ]:
This notebook covers Python core data structures with practical examples:
Lists, Sets, Tuples, and Dictionaries.

The exercises demonstrate real usage patterns commonly tested in Python interviews.

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
# print the value of a
# print the type of a

In [ ]:
a = []
print(a)
print(type(a))

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [ ]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
print(languages)

Using for loop iterate and print all the elements in the list

In [ ]:
for lang in languages:
    print(lang)

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
print(temp)
print(type(temp))

Append the element 'Java' in the list

In [ ]:
languages.append('Java')
print(languages)

Remove the element 42 from the list and print the list

In [ ]:
languages.remove(42)
print(languages)

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [ ]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
colors.append('Black')
print(colors)

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
colors.insert(1, 'Orange')

Print the list

In [ ]:
print(colors)

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [ ]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
colors.extend(colors2)
print(colors)

Print len of colors and its elements

In [ ]:
print(len(colors))
print(colors)

Sort the list and print it.

In [ ]:
colors.sort()
print(colors)

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [ ]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split()
print(words)

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
words_lower = [word.lower() for word in words]
print(words_lower)

Check whether ‚Äòcountry‚Äô is in the list

In [ ]:
'country' in words_lower

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [ ]:
words_lower.remove('the')
print(words_lower)

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
x4 = words_lower[:4]

In [ ]:
# print x4
print(x4)

Convert the list of elements to single string using join function and print it

In [ ]:
sentence_joined = " ".join(words_lower)
print(sentence_joined)

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [ ]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
print(len(stud_grades))

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
print(stud_grades_set)

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
print(type(stud_grades))
print(stud_grades)

print(type(stud_grades_set))
print(stud_grades_set)

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [ ]:
stud_grades_set.add('G')
print(stud_grades_set)

Add element 'F' to stud_grades_set. and print it.

In [ ]:
stud_grades_set.add('F')
print(stud_grades_set)

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [ ]:
stud_grades_set.remove('F')
print(stud_grades_set)

Print the elements and the length of stud_grades_set

In [ ]:
print(stud_grades_set)
print(len(stud_grades_set))

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [ ]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
print(colors)
print(fruits)

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
colors_set = set(colors)
fruits_set = set(fruits)

print(colors_set)
print(fruits_set)

Find the union of both the sets.

In [ ]:
colors_set.union(fruits_set)

Find the intersection of both the sets

In [ ]:
colors_set.intersection(fruits_set)

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
fruits_set.difference(colors_set)

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [ ]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
for item in temp:
    print(item)

replace first element with 11 in temp

In [ ]:
temp[0] = 11
print(temp)

Set temp1 = tuple(temp)

In [ ]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
for item in temp1:
    print(item)

replace first element with 17 in temp1

In [ ]:
temp1[0] = 17   # ‚ùå TypeError

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
print(city[0])

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [ ]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = (city, city2)

Print cities

In [ ]:
print(cities)

Print type of first element in cities

In [ ]:
print(type(cities[0]))

print the type of cities

In [ ]:
print(type(cities))

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}

Print the value of d[0]

In [ ]:
d[0]   # ‚ùå KeyError (0 is not a key)

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
actor = d['actor']

Print the type of actor

In [ ]:
print(type(actor))

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
List = d['list']

Print the type of List.

In [ ]:
print(type(List))

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)

print d

In [ ]:
print(d)

Print all the keys in d

In [ ]:
print(d.keys())

Print all the values in d

In [ ]:
print(d.values())

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [ ]:
for key, value in d.items():
    print(f"{key} ----> {value}")

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [ ]:
char_count = {}

for char in sent.lower():
    if char != " ":
        char_count[char] = char_count.get(char, 0) + 1

print(char_count)